<header>
  <h2 class="text-center" *ngIf="!send">Wprowadz swojego maila</h2>
  <h2 class="text-center" *ngIf="send">Wysłano! Postaramy się odpowiedzieć jak najszybciej</h2>
</header>

<div class="d-flex justify-content-center" style="margin-top: 34px" *ngIf="!send">
  <div class="example-container">
    <div class="d-flex justify-content-between">
      <mat-form-field appearance="fill">
        <mat-label>Wprowadz maila</mat-label>
        <input matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" style="margin-top: 34px" *ngIf="send">
  <div class="example-container">
    <div class="d-flex justify-content-between">
      <p>Wyslaliśmy maila na twój adres, sprawdż skrzynkę odbioczą lub spam</p>
    </div>
  </div>
</div>



<div class="d-flex justify-content-center" style="margin-top: 34px">
  <div class="example-container">
  <div class="d-flex justify-content-between">
    <button class="save-changes-active" *ngIf="send" (click)="close()"><i class="fa fa-check"></i>Zamknij</button>
    <button class="save-changes-active" *ngIf="!send" (click)="sendMail()"><i class="fa fa-check"></i>Wyślij</button>
  </div>
</div>
</div>
