<div class="container-fluid vh-100 cont">
  <div class="row d-flex justify-content-center h-100 align-items-center">
    <div class="col-sm-6 col-md-4 col-md-offset-4 contents">
          <a class="navbar-brand" href="/">
            <img src="assets/logo/logo.svg" style="width:170px;" alt="Logo">
          </a>
          <div class="account-wall">
              <h3>Gotowe!</h3>

              <div class="container">
                <p>Twoje konto zostało utworzone. Na twojego maila została wysłana wiadomość z linkiem aktywacyjnym, sprawdz skrzynkę odbiorczą i spam</p>
              </div>

            </div>
          <button class="btn btn-block" (click)="goToSignIn()">
            Zatwierdź
          </button>
      </div>
  </div>
</div>
