<div class="container-fluid vh-100 cont">
  <div class="row d-flex justify-content-center h-100 align-items-center">
      <div class="col-sm-6 col-md-4 col-md-offset-4 contents">
          <a class="navbar-brand" href="/">
            <img src="assets/logo/logo.svg" style="width:170px;" alt="Logo">
          </a>
          <div class="account-wall">
              <h3>Podaj niezbędne informacje do założenia profilu psa</h3>
              <form class="form-signin" [formGroup]="form">

                <mat-form-field class="example-full-width">
                  <mat-label>Imię</mat-label>
                  <input matInput type="text" name="dogName" #dogName formControlName="dogName" placeholder="Podaj imię pieska" required>
                  <mat-hint [align]="'end'" >{{ dogName.value.length }}/50</mat-hint>
                </mat-form-field>

                <mat-form-field  class='example-full-width'>
                  <mat-label>Rasa</mat-label>
                  <mat-select class="sel"  name="breedOfDog" formControlName="breedOfDog" required>
                    <mat-option *ngFor="let dog of dogs" [value]="dog">{{dog}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </form>
          </div>
          <button class="btn btn-block" (click)="goToStepTwo()" [disabled]='form.invalid'> <!--(click)="onClick()"-->
            Dalej</button>
      </div>
  </div>
</div>
