<section class="header">
  <h2>FAQ</h2>
</section>

<div class="option">
  <div>
    <a pageScroll href="#general">Ogólne</a>
    <a pageScroll href="#functionality">Funkcjonalność</a>
    <a pageScroll href="#registration">Rejestracja</a>
    <a pageScroll href="#account">Konto</a>
    <a pageScroll href="#system-requirements">Wymagania systemowe</a>
  </div>
</div>

<div class="container">

  <section id="general">
    <h3>Ogólne</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          W czym DoggieWalkie może mi pomóc ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p>DoggieWalkie to webowa aplikacja umożliwiająca umawianie się osobom prywatnym na wyprowadzanie psów.</p>
      </mat-expansion-panel>
  </section>

  <section id="functionality">
    <h3>Funkcjonalność</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          W jaki sposób mogę edytować dane swojego konta oraz profilu?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Aby edytować konto lub profil, należy w pierwszej kolejności kliknąć swój na awatar, który znajduje się w prawym górnym rogu, a następnie przejść do zakładki „Ustawienia”. Po przekierowaniu na stronę ustawień widoczne będą dwie zakładki: „Konto” oraz „Profil”, w których można edytować swoje dane.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          W jaki sposób mogę zarządzać psem/psami?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Aby edytować dane psa/psów, należy w pierwszej kolejności kliknąć na swój awatar, który znajduje się w prawym górnym rogu, a następnie przejść do zakładki „Zarządzaj moim psem” lub „Zarządzaj moją watahą”. Po przekierowaniu widoczne będą trzy zakładki: „Moja wataha”, „Lista psich spacerów” oraz „Ustawienia profili psów”.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          W jaki sposób mogę zgłosić się na ochotnika w celu wyprowadzenia kogoś psa/psów?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Na stronie głównej znajduje się lista psów znajdujących się w danej okolicy. Aby zgłosić chęć wyprowadzenia któregoś z psów, należy wybrać interesujący Cię profil psa, a następnie wybrać jeden z terminów ustalonych przez właściciela pupila. Po wypełnieniu wszystkich danych właściciel otrzyma powiadomienie z propozycją wyprowadzenia psa, na którą będzie mógł odrzucić lub zaakceptować.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          W jaki sposób mogę zgłosić psa/psy do wyprowadzenia?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Aby zgłosić swojego psa lub psy do wyprowadzenia, należy w pierwszej kolejności kliknąć na swój awatar, a następnie wybrać opcję „Moje spacery”. Po przekierowaniu na stronę spacerów widoczny będzie w prawym górnym rogu przycisk „Zgłoś potrzebę wyprowadzania”, który służy do uzupełnienia formularza wyprowadzenia psa. Po pomyślnym uzupełnieniu wszystkich danych propozycja widoczna będzie wraz ze szczegółami na liście Twoich spacerów oraz na profilu psa.</p>
      <p>Pamiętaj, że aby zgłosić swojego psa do wyprowadzenia, musi on mieć stworzony profil w systemie DoggieWalkie.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Gdzie mogę znaleźć opinie dotyczące właściciela danego psa?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Po wejściu na profil właściciela psa/psów widoczna będzie jego ocena wraz z wystawionymi opiniami. Po kliknięciu w opinie nastąpi przekierowanie do strony z listą opinii, na której będzie mógł przeczytać wystawione już opinie przez innych członków serwisu DoggieWalkie.</p>
    </mat-expansion-panel>
  </section>

  <section id="registration">
    <h3>Rejestracja</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kto może się zarejestrować ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Na ten moment mogą zarejestrować się wszystkie osoby posiadające własną skrzynkę pocztową.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Chcę się zarejestrować, czy dostęp jest bezpłatny ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Tak. Dostęp do DoggieWalkie jest całkowicie bezpłatny.</p>
    </mat-expansion-panel>
  </section>

  <section id="account">
    <h3>Konto</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jak mogę zmienić hasło do konta ?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Jeśli nie pamiętasz swojego hasła przy logowaniu, wystarczy kliknąć "nie pamiętam hasła" i postępować z instrukcjami wyświetlanymi na ekranie.<br>Jeśli chcesz zmienić swoje hasło będąc zalogowanym, możesz zmienić swoje hasło <span (click)="goToAccountSettings()">tutaj</span> </p>
    </mat-expansion-panel>
  </section>

  <section id="system-requirements">
    <h3>Wymagania systemowe</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jakie są rekomendowane wersje przeglądarek internetowych?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Rekomendujemy używać najnowszych wersji przeglądarek Edge, Chrome, Opera, Safari, Firefox. DoggieWalkie działa również skutecznie z podstawową wersją przeglądarki Android.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jaka jest minimalna wspierana wersja ekranu?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>DoggieWalkie jest stworzony w oparciu o Responsive Web Design i wspiera wszystkie szerokości ekranu.</p>
    </mat-expansion-panel>
  </section>

  <section class="other row">
    <div class="questions">
      <h4>Nie widzisz odpowiedzi na swoje pytanie?</h4>
      <p class="info">Chętnie odpowiemy! Pytanie możesz zadać tutaj:</p>
      <button (click)="openQuestionModal()">Zadaj pytanie</button>
    </div>
    <div class="bugs">
      <h4>Widzisz błąd na stronie?</h4>
      <p class="info">Wyślij zgłoszenie tutaj:</p>
      <button (click)="openBugModal()">Wyślij zgłoszenie błędu</button>
    </div>
  </section>
</div>

<app-footer></app-footer>

