<app-header-carousel></app-header-carousel>
<section class="description">
  <section class="header">
    <h3>Jak to działa?</h3>
  </section>
  <section class="info">
    <div>
      <div class="step">1</div>
      <h2>Znajdź odpowiednią osobę lub psa w Twoim obszarze zamieszkania</h2>
      <p class="desc">Dzięki aplikacji możesz szybko odnaleźć odpowiednią dla Ciebie i/lub Twojego psa osobę w obrębie wskazanej lokalizacji</p>
    </div>
    <div>
      <div class="step">2</div>
      <h2>Zweryfikuj daną osobę i jej kompetencje</h2>
      <p class="desc">Nasza aplikacja umożliwia sprawdzenie rankingów i opinii na temat opiekuna lub kompana oraz szybki kontakt przy pomocy systemu wiadomości</p>
    </div>
    <div>
      <div class="step">3</div>
      <h2>Umawiajcie się na pojedyncze lub wielokrotne spotkania</h2>
      <p class="desc">Gdy już wybierzesz osobę lub psa, możesz umówić się na konkretny dzień i godzinę. Dzięki naszej aplikacji zrobisz to szybko i prosto</p>
    </div>
  </section>
  <section class="find">
    <button (click)="goToDogListPage()">Znajdź opiekuna lub kompana</button>
  </section>
</section>
<app-footer></app-footer>

