<header>
  <p class="title">Czy jesteś pewien, że chcesz usunąć tego psa ? </p>
  <p class="description">Po kliknięciu przycisku "usuń" konto psa zostanie usunięte, zmiany będą nieodwracalne</p>
</header>

<div class="d-flex justify-content-center" style="margin-top: 34px">
  <div class="d-flex justify-content-between">
    <button class="cancel-changes-active" type="onSubit" (click)="cancel()">Anuluj</button>
    <button class="save-changes-active" type="onSubit" (click)="deleteAccount()"><i class="fa fa-times"></i> Usuń</button>
  </div>
</div>
