header{
  text-align: center;
}

.save-changes-active {
  margin:0 !important;
  font-weight: bolder;
  background-color: #6100ed;
  width: 140px;
  height: 36px;
  padding: 8px 20px 9px;
  border-radius: 4px;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-style: none;
  cursor: pointer;
}

.save-changes-active:hover{
  transition: .3s;
  background-color: #873df2;
}

.save-changes-active:disabled{
  color: rgba(0, 0, 0, 0.38);
  background-color: #e4e4e4;;
  cursor: auto;
}
