<header>
  <p class="title">Dodajesz nowy komentarz</p>
  <p class="description">Poniżej wpisz treść Twojego komentarza i potwierdź</p>
</header>
<form [formGroup]="form">


  <div class="form-row"  style="margin-top: 64px">
    <div class="form-group col-md-12">
      <textarea class="form-control textarea"  formControlName="commentntary" rows="4" placeholder="Tutaj opisz temat Twojego postu..."></textarea>
      <small id="emailHelp" class="form-text text-muted">Maksimum 400 znaków.</small>
    </div>
  </div>

  <div class="d-flex justify-content-center" style="margin-top: 34px">
    <div class="d-flex justify-content-between">
      <button class="cancel-changes-active" (click)="cancel()">Anuluj</button>
      <button class="save-changes-active" (click)="add()"><i class="fa fa-check"></i> Potwierdź</button>
    </div>
  </div>
</form>
