
<h3>Umów spacer z psem {{data.dogName}}</h3>


<form [formGroup]="form" (submit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-5">
      <p class="time-info"><span class="material-icons">event</span><span class="text">Termin: </span><span class="time">{{data.walk.dateStart | date: 'dd.MM.yyyy'}}</span></p>
        </div>
        <div class="form-group col-md-3">
          <p class="time-info"><span class="material-icons">schedule</span><span class="text">Podaj twoją dyspozycję czasową:</span></p>
        </div>
        <div class="form-group col-md-4">
          <div class="slider">
            <lib-ngx-mat-range-slider [minValue]="value.min" [max]="endTime" [min]="startTime"  [formatLabel]="formatLabel" (output)="setValue($event)" [maxValue]="value.max"></lib-ngx-mat-range-slider>
          </div>
        </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <textarea class="form-control textarea"  formControlName="description" id="exampleFormControlTextarea1" rows="4" placeholder="Jeśli masz dodatkowe uwagi, możesz je wpisać w tym miejscu."></textarea>
      <small id="emailHelp" class="form-text text-muted">Maksimum 400 znaków.</small>
    </div>
  </div>

  <p class="info-text">[Notka o odpowiedzialnosci] Serwis DoggieWalkie nie bierze odpowiedzialności za psa oraz sytuacje związane ze spacerem/opieką. W momencie przekazania psa przez właściciela ponosisz pełną odpowiedzialność za wyprowadzanego psa oraz szkody wyrządzone przez zwierze osobom, innym psom lub mieniu.</p>

  <div class="d-flex justify-content-end button-group">
    <button class="save-changes-active" type="onSubit">Umów spacer</button>
  </div>

</form>





