<section class="header">
    <h2>REGULAMIN SERWISU DOGGIEWALKIE</h2>
  </section>

  <div class="container">

    <section id="general">
        <h3>§ 1 DEFINICJE </h3>
        <ol>
            <li>Usługodawca – Serwis DOGGIEWALKIE prowadzący działalność gospodarczą pod firmą DoggieWalkie z ograniczoną odpowiedzialnością z siedzibą w Poznaniu wpisanej do rejestru przedsiębiorców Krajowego Rejestru Sądowego pod nr KRS ---------- </li>
            <li>Usługobiorca/Klient - Właściciel powierzanego pod opiekę zwierzęcia lub osoba niebędąca Właścicielem zwierzęcia mająca pełne prawo do oddania zwierzęcia pod opiekę Opiekuna/Petsitterza udzielone mu przez Właściciela zwierzęcia. </li>
            <li>Opiekun/Petsitter - osoba, która w imieniu Usługodawcy zajmuje się powierzonymi pod opiekę zwierzętami.  </li>
            <li>Zwierzęta/Zwierzę – zwierzęta domowe (pies itp). </li>
            <li>Regulamin opieki nad zwierzętami/Umowa o świadczenie usług – niniejszy dokument określający zasady świadczenia i korzystania z usług świadczonych przez Usługodawcę na rzecz Usługobiorców za pośrednictwem Serwisu oraz prawa i obowiązki  Usługobiorcy i Usługodawcy. </li>
            <li>Serwis – platforma internetowa umożliwiająca zawieranie umów o świadczenie usług oferowanych przez Usługodawcę, prowadzona przez Usługodawcę, dostępna za pośrednictwem adresu URL https://www.doggiewalkie.pl</li>
            <li>Usługi – wszelkie świadczenia Usługodawcy na rzecz Usługobiorców w szczególności usługa spaceru z psem, usługa opieki nad zwierzętami w domu Klienta lub Opiekuna itp. </li>
        </ol>
        
        <h3>§ 2 POSTANOWIENIA OGÓLNE  </h3>
        <ol>
            <li>Niniejszy Regulamin określa szczegółowe warunki i zasady korzystania z usług opieki nad zwierzętami przez DoggieWalkie – serwis opieki nad zwierzętami prowadzący działalność gospodarczą pod firmą DoggieWalkie z siedzibą w Poznaniu, zwany dalej również jako Usługodawca. </li>
            <li>Regulamin określa zasady opieki nad zwierzętami.</li>
            <li>Realizacją opieki nad zwierzętami zajmuje się Usługodawca i/lub wyznaczone przez niego osoby – Petsitterzy/Opiekunowie, na które Usługobiorca wyraża zgodę. </li>
            <li>Stronami Umowy o świadczenie usług są Usługodawca i Usługobiorca/Klient.</li>
            <li>Przez stronę internetową https://www.doggiewalkie.pl można dokonywać realizacji usług 24 godziny na dobę.</li>
        </ol>
        
        <h3>§ 3 OBOWIĄZKI I PRAWA USŁUGODAWCY  </h3>
        <ol>
            <li>Realizacją Umowy o świadczenie usług zajmuje się Usługodawca przez Opiekuna.</li>
            <li>W przypadku braku sugestii ze strony Klienta Usługodawca według własnego uznania dokona wyboru miejsca spaceru z uwzględnieniem czasu jego trwania.</li>
            <li>Usługodawca zobowiązuje się w szczególności do:</li>
                <ol>a) zapewnienia najlepszej możliwej opieki nad zwierzęciem, dbania o jego zdrowie i bezpieczeństwo,</ol>
                <ol>b) zapewnienia zwierzęciu odpowiedniej dla niego ilości ruchu, formy zabawy na podstawie wcześniejszych sugestii i uzgodnień z Klientem,</ol>
                <ol>c) przekazania informacji o zaobserwowanych objawach chorobowych bądź́ nieprawidłowym zachowaniu zwierzęcia w trakcie spaceru,</ol>
                <ol>d) niewyprowadzania psa na boiska szkolne, place zabaw, piaskownice, plaże i kąpieliska oraz inne tereny i obiekty, na których zakaz taki obowiązuje,</ol>
                <ol>e) niezwłocznego przekazania informacji o stanie zdrowia zwierzęcia w przypadku uszkodzenia ciała, pogryzienia, choroby, śmierci. Jeżeli wystąpi szkoda Usługodawca zobowiązany jest do natychmiastowego powiadomienia o tym Klienta oraz do podjęcia wszelkich racjonalnych środków w celu jej zabezpieczenia oraz zapobieżenia dalszemu zwiększeniu,</ol>
                <ol>f) niestosowania wobec psa bodźców agresywnych.</ol>
            <li>Usługodawca:</li>
                <ol>a) jest uprawniony do odmowy przyjęcia zwierzęcia lub rezygnacji z wykonania usługi w sytuacji, kiedy zwierzę może zagrażać zdrowiu lub bezpieczeństwu innych ludzi albo zwierząt, a w szczególności gdy jest agresywne oraz nie posiada ważnych szczepień i zabezpieczeń przeciw kleszczom, w rui, z cieczką itp. oraz jest nieodrobaczone,</ol>
                <ol>b) nie bierze odpowiedzialności za chorobę zwierzęcia niewynikającą z winy usługodawcy.</ol>
                <ol>c) w przypadku psów uznanych za agresywne stosownie do Rozporządzenia Ministra Spraw Wewnętrznych i Administracji z dnia 28 kwietnia 2003 r. w trakcie spaceru Usługodawca zobowiązuje się do wyprowadzania psa w kagańcu. Usługodawca nie odpowiada za zdarzenia losowe z udziałem zwierzęcia.</ol>
            <li>Usługodawca zobowiązuje się do sprzątania psich odchodów pozostawionych przez  zwierzę.</li>
            <li>Usługodawca zobowiązuje się dostarczyć raport z wykonanej usługi (podać tracker z trasą i km spaceru, zdjęcia lub wideo, opis zachowania i samopoczucia zwierzaka).</li>
        </ol>
        
        <h3>§ 4 OBOWIĄZKI I PRAWA USŁUGOBIORCY  </h3>
        <ol>
            <li>Usługobiorca zobowiązuje się w szczególności do:  </li>
                <ol>a) poinformowania Usługodawcy o rzeczywistym stanie zdrowia przekazywanego zwierzęcia, w tym również przekazania informacji o wszelkich dolegliwościach zwierzęcia i sposobach zminimalizowania dyskomfortu odczuwanego przez zwierzą (np. ograniczenie aktywności fizycznej, chodzenie po schodach),</ol>
                <ol>b) okazania książeczki zdrowia zwierzęcia lub zaświadczenia o aktualnych szczepieniach, podanych zwierzęciu środkach przeciw pasożytom, jego stanie zdrowia fizycznego i psychicznego oraz potwierdzenia, że zwierzę nie choruje na żadne choroby zakaźne,</ol>
                <ol>c) terminowego odbioru zwierzęcia tj. odbioru w umówionym miejscu i czasie,  </ol>
                <ol>d) dostarczenia smyczy oraz kagańca (w przypadku psów uznanych za agresywne), karmy, wody i zabawek dla zwierząt,</ol>   
                <ol>e) przekazania Usługodawcy rzetelnej i pełnej informacji na temat zwierzęcia,</ol>
                <ol>f) pokrycia kosztów leczenia weterynaryjnego powierzonego zwierzęcia, które poniósł Usługodawca, a które nie wynikły z jego winy.</ol>
            <li>Usługobiorca oświadcza, że:  </li>
                <ol>a) przyjmuje do wiadomości, iż zwierzę w trakcie wysiłku i zabawy na spacerze (w tym również z innymi psami) może ulec zranieniu i nie będzie z tego tytułu wnosić w stosunku Usługodawcy jakichkolwiek roszczeń, </ol>
                <ol>c) wyraża zgodę na wizytę u lekarza prowadzącego lub w razie jego nieobecności albo braku możliwości wykonania usługi przez lekarza wskazanego przez Usługodawcę na jego koszt,</ol>
                <ol>d) wyraża zgodę na wykorzystanie specjalnego sprzętu do wyprowadzania psa. Każdy Opiekun ma specjalny sprzęt: obrożę, smycz i pas, które nigdy nie rozerwą się i są przymocowane do siebie wspinaczkowymi karabinkami. Dlatego możemy gwarantować, że pies nie ucieknie. Jeśli Usługobiorca nie wyraża zgodę na wykorzystanie specjalnego sprzętu do wyprowadzania psa, Usługodawca nie ponosi odpowiedzialności za ucieczkę psa.  </ol>
        <li>Usługobiorca ponosi całkowitą odpowiedzialność za szkody wyrządzone przez zwierzę osobom, innych psom lub mieniu.  </li>
        <li>Usługobiorca zobowiązuje się do przestrzegania niniejszego Regulaminu.   </li>
        </ol>

        <h3> § 5 POSTANOWIENIA KOŃCOWE  </h3>
        <ol>
            <li>Strony zobowiązują się do przestrzegania niniejszego Regulaminu.  </li>
            <li>Usługodawca zastrzega sobie możliwość́ zmiany zasad i warunków wykonywania opieki nad zwierzęciem.  </li>
            <li>W sprawach nieuregulowanych niniejszym Regulaminem zastosowanie mają przepisy Kodeksu Cywilnego.  </li>
            <li>Usługobiorca zgadza się na bezpłatne umieszczenie zdjęć lub filmów z wizerunkiem jego zwierzęcia w materiałach ilustrujących działanie Usługodawcy, w tym na portalach społecznościach i umieszczenie na stronie internetowej https://www.doggiewalkie.pl.  </li>
            <li>Regulamin obowiązuje od dnia 21.01.2022</li>
        </ol>
    </section>
  </div>

  <app-footer></app-footer>