.reviews-page-title {
    font-size: 2em;
}
.fa-chevron-left,.fa-chevron-down {
    color: rgb(97, 0, 237);
    font-size: 1.2em;
    margin-right: 0.3em;
}

.author-name {
    text-align: left !important;
    margin-top: auto !important;
    margin-bottom: auto  !important;
    padding-left: 2em;
    font-weight: 500;
    font-size: 1.2em;
}

.review-entry {
    margin-top: 2em;
}

.text-left {
    text-align: left !important;

}


.review-text {
    font-weight: 500;
    opacity: 0.6;
}

.container {
    padding-bottom: 1em;
}


