<header>
  <p class="title">Czy jesteś pewien, że chcesz odrzucić ten spacer ?</p>
  <p class="description">Po kliknięciu "Odrzuć", ta propozycja nie będzie już widoczna na liście. Nie będzie moża do niej wrócić</p>
</header>

<div class="d-flex justify-content-center" style="margin-top: 34px">
  <div class="d-flex justify-content-between">
    <button class="cancel-changes-active"  (click)="cancel()">Anuluj</button>
    <button class="save-changes-active" (click)="reject()"><i class="fa fa-times"></i> Odrzuć</button>
  </div>
</div>

